<h1>Flexible Payment</h1>

<p>A <%= @user_number_yrs %> year loan of <%= @user_number_principal %>, with an annual interest rate of <%= @user_number_apr %>%, requires a monthly payment of <%= @pay_number %>.