<h1>Flexible Payment</h1>

<p>A <%= @number_of_years %> year loan of <%= number_to_currency(@loan_amount) %>, with an annual interest rate of <%= number_to_percentage(@user_interest_rate) %>, requires a monthly payment of <%= number_to_currency(@payment) %>. </p>
