<h1>Payment Calculation</h1>

<form action="/pay/results"></a>
<!--<form action="https://omnicalc-params-timothyschulte.c9users.io/square/results>"</a>-->
  <div>
    <label>
      APR
    </label>
  
    <input type="text" name="the_user_number">
  </div>
  <div>
    <label>
      Number of years
    </label>
  
    <input type="text" name="the_user_number">
  </div>
  <div>
    <label>
      Principal
    </label>
  
    <input type="text" name="the_user_number">
  </div>
    
  <button>Calculate payment</button>
</form>

<a href="https://omnicalc-params-timothyschulte.c9users.io/pay/results?>" + :a_number </a>