<h1>Payment Calculation</h1>

<form action="/payment/results"></a>
<!--<form action="https://omnicalc-params-timothyschulte.c9users.io/square/results>"</a>-->
  <div>
    <label>
      APR
    </label>
  
    <input type="text" name="a_interest_rate">
    <!--<input type="text" name="the_user_number_apr">-->
  </div>
  <div>
    <label>
      Number of years
    </label>
  
    <input type="text" name="a_number_of_years">
    <!--<input type="text" name="the_user_number_years">-->
  </div>
  <div>
    <label>
      Principal
    </label>
  
    <input type="text" name="a_loan_of">
    <!--<input type="text" name="the_user_number_principal">-->
  </div>
    
  <button>Calculate payment</button>
</form>

<a href="https://omnicalc-params-timothyschulte.c9users.io/pay/results?the_user_number_apr=" + :apr_number + "&the_user_number_years=" + :years_number + "&the_user_number_principal="+ :principal_number</a>