<h1>Random Number Calculation</h1>

<form action="/rand/results"> </a>
<!--<form action="https://omnicalc-params-timothyschulte.c9users.io/square/results>"</a>-->
  <div>
    <label>
      Minimum
    </label>
  
    <input type="text" name="the_user_number">
  </div>
  
    <label>
      Maximum
    </label>
  
    <input type="text" name="the_user_number">
  </div>
    
  <button>Calculate random number</button>
</form>

<a href="https://omnicalc-params-timothyschulte.c9users.io/rand/results?>" + :a_number </a>