<h1>Random Number Calculation</h1>

<form action="/rand/results"></a>
  <div>
    <label>
      Minimum
    </label>
  
    <input type="text" name="a_low_number">
  </div>
  <div>
    <label>
      Maximum
    </label>
  
    <input type="text" name="a_high_number">
  </div>
    
  <button>Calculate random number</button>
</form>

<a href="https://omnicalc-params-timothyschulte.c9users.io/sqrt/results?>" + :a_number </a>