<h1>Square Calculation</h1>

<form action="/square/results"></a>
<!--<form action="https://omnicalc-params-timothyschulte.c9users.io/square/results>"</a>-->
  <div>
    <label>
      Enter a number
    </label>
  
    <input type="text" name="the_user_number">
  </div>
    
  <button>Calculate square</button>
</form>

<a href="https://omnicalc-params-timothyschulte.c9users.io/square/results?>" + :a_number </a>