<h1>Stats Calculation</h1>

<form action="/statistics/results"></a>
  <div>
    <label>
      Numbers
    </label>
    <input type="text" name="list_of_numbers" placeholder="Enter a list of numbers (separated by spaces)">
  </div>
    
  <button>Calculate descriptive statistics</button>
</form>

<a href="https://omnicalc-params.herokuapp.com/statistics/results?list_of_numbers=" :list_of_numbers </a>
    <!--g.sub the list of numbers?-->