<h1>Word Count Results</h1>

<h2>Text</h2>


<h2>Word Count</h2>


<h2>Character Count (with spaces)</h2>


<h2>Character Count (without spaces)</h2>


<h2>Occurrences of XXXXX SPECIAL WORD XXXXXX</h2>



<p>A <%= @user_number_yrs %> year loan of <%= @user_number_principal %>, with an annual interest rate of <%= @user_number_apr %>%, requires a monthly payment of $<%= @pay_number %>.